form {
    line-height:35pt;
}

.colbox {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#testbox {
    width: 100px;
    height: 100px;
}

.colbutton {
    display: inline-block;
    width: 25px;
    height: 25px;
}